body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #081321;
    color: white;
}

.container {
    width: 700px;
    max-width: 90%;
    margin: 60px auto;
    text-align: center;
}

h1 {
    color: #48b4ff;
    margin-bottom: 10px;
}

.subtitle {
    color: #b5c8dd;
    margin-bottom: 35px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg,#3b82f6,#60a5fa);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .25s;
}

button:hover {
    transform: translateY(-2px);
    opacity: .95;
}

.card {
    background: #122033;
    border: 1px solid #23415e;
    border-radius: 18px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
}

.card h2 {
    color: #4db8ff;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card p {
    margin-top: 0;
    margin-bottom: 18px;
    word-break: break-all;
    color: #ffffff;
}

#status {
    font-weight: bold;
    color: #6ef58c;
}

#switchNetwork {
    margin-top: 25px;
    background: #1f2937;
    border: 1px solid #3b82f6;
}

#switchNetwork:hover {
    background: #2b3d52;
}


